
.videoBackground {
    flex: 1;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: -2;
  }
  
  .videoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 41, 94, 0.5);
    z-index: -1;
  }
  
  .contentCenter {
    text-align: center;
    padding: 20px;
  }
  
  .brandTitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 2em;
  }
  
  .searchBar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .searchBar input[type="text"] {
    padding: 12px 20px;
    width: 50%;
    max-width: 600px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  
  .searchBar button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;
  }